maestro-v3.0.0/
processed/
processed_chunks/
venv/
maestro_processed.npz
backend/best_model.pth
*.pth
*.pt
__pycache__/
*.pyc
*.npy
*.pyo
.env
*.npz
*DS_Store
Thumbs.db
node_modules/
frontend/dist/
*.wav